@model Crewing.Models.Employer

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Profile</h1>
<div class="userprofile">
    <div class="columnofhalf">
        <h2>Название компании</h2>
        <p>@Model.Companyname</p>
        <h2>Рейтинг</h2>
        <p>@Model.Rating (@Model.Reviews.Count)</p>
        <h2>Количество судов</h2>
        <p>@Model.Vessels.Count</p>
    </div>
    <div class="columnofhalf">
        <h2>Номер телефона</h2>
        <p>@Model.Phonenumber</p>
        <h2>Электронная почта</h2>
        <p>@Model.Email</p>
        <h2>Дата регистрации</h2>
        <p>@Model.Registrationdate</p>
    </div>
</div>
<div class="pagenavigation">
    <ul class="horizontallist">
        @if(User.IsInRole("Employer") && Model.Email == User.Identity!.Name)
        {
            <li><a asp-controller="Employer" asp-action="Edit" asp-route-id="@Model?.Companyname">Edit</a></li>
        }
        <li><a asp-controller="Employer" asp-action="Preview">Back to List</a></li>
        <li><a asp-controller="Home" asp-action="Index">Back to home</a></li>
    </ul>
</div>

<hr />

<h2>Отзывы:</h2>
@if (User.IsInRole("Client"))
{
    @Html.Partial("~/Views/Employer/ReviewForm.cshtml", new ReviewCreationModel() {Companyname = Model!.Companyname})
}
<div class="reviews">
    @foreach(Review review in Model!.Reviews)
    {
        <div class="reviewcontainer">
            <div class="reviewtop">
                <span>@review.Client.Firstname @review.Client.Lastname</span>
                @review.Datetime
            </div>
            <p>@review.Comment</p>
            <p class="estimationmark">@review.Estimation</p>
        </div>
    }
</div>
