@model Crewing.Models.Vacancy

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var vacancy = Model;
    var vessel = Model.AgreementnumberNavigation.VesselnumberNavigation;
    var company = Model.AgreementnumberNavigation.VesselnumberNavigation.CompanynameNavigation;
}

<div class="vacancy">
    <div class="inforow">
        <div class="infoblock">
            <h1>Условия</h1>
            <h2>Должность</h2>
            <p>@vacancy.Sailorpost.Name</p>
            <h2>Оклад</h2>
            <p>@vacancy.Salary</p>
            <h2>Рабочий срок</h2>
            <p>@vacancy.Term</p>
        </div>
        <div class="verticalinfoseparator"></div>
        <div class="infoblock">   
            <h1>Требования</h1>
            @foreach(Requirement requirement in vacancy.Requirements)
            {
                <p>@requirement.Name - @requirement.Level</p>
                <p>@requirement.Description</p>
            }
        </div>
    </div>
    <div class="horizontalinfoseparator"></div>
    <div class="inforow">
        <div class="infoblock">
            <h1>Судно</h1>
            <h2>Название</h2>
            <p>@vessel.Vesselname</p>
            <h2>Тип</h2>
            <p>@vessel.Vesseltype.Name</p>
            <h2>Статус</h2>
            <p>@vessel.Status</p>
            <h2>Местоположение</h2>
            <p>@vessel.Location</p>
            <h2>Экипаж</h2>
            <p>@vessel.Workersamount человек</p>
        </div>
        <div class="verticalinfoseparator"></div>
        <div class="infoblock">
            <h1>Работодатель</h1>
            <h2>Название компании</h2>
            <a href="">
                <p>@company.Companyname</p>
            </a>
            <h2>Эл. почта</h2>
            <p>@company.Email</p>
            <h2>Телефон</h2>
            <p>@company.Phonenumber</p>
            <h2>Рейтинг</h2>
            <p>@company.Rating</p>
        </div>
    </div>
    <div class="horizontalinfoseparator"></div>
    <h2>Описание</h2>
    <p>@vacancy.Description</p>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
