@model IEnumerable<Crewing.Models.Vacancy>

@{
    ViewData["Title"] = "Preview vacancies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="vacanciesdiv">
    @foreach (var item in Model)
    {
        <div class="linkheader">
            <a asp-action="Details" asp-route-id="@item.Id">
                <div>
                    <h3>Должность моряка</h3>
                    <p>@item.Sailorpost.Name</p>
                    <h3>Оклад</h3>
                    <p>@item.Salary</p>
                </div>
                <div>
                    <h3>Название компании</h3>
                    <p>@item.AgreementnumberNavigation.VesselnumberNavigation.Companyname</p>
                    <h3>Рейтинг компании</h3>
                    <p>@item.AgreementnumberNavigation.VesselnumberNavigation.CompanynameNavigation.Rating</p>
                </div>
                <div>
                    <h3>Название судна</h3>
                    <p>@item.AgreementnumberNavigation.VesselnumberNavigation.Vesselname</p>
                    <h3>Рабочий срок</h3>
                    <p>@item.Term</p>
                </div>
                <img src="ship.jpeg" alt="failed to load the image">
            </a>
        </div>
    }
</div>
